* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

/* HEADER */
header {
    height: 15vh;
    background-color: rgb(23, 23, 209);
}

nav {
    height: 100%;
    width: 80%;
    margin: auto;
}

nav li  {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 15px;
}

.logo,
.accedi {
    height: 100%;
    width: 20%;
    float: left;

    padding-top: 30px;
}

.logo {
     text-align: right;
}

.menu {
    height: 100%;
    width: 60%;
    float: left;
    padding-top: 37px;
    text-align: center;
}

.menu li a {
   text-decoration: none;
   color: white;
   font-size: 17px;   
}

.accedi button {
    height: 30px;
    width: 60px;
    border-radius: 25%;
    border: 0.1px solid black;
    cursor: pointer;

    background-color: white;
}

/* MAIN */
main {
    height: 80vh;
    background-color: rgb(62, 177, 114);

    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.contenitore_principale {
    height: 80%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testo {
    height: 70%;
}

.bottoni {
    height: 30%;
}

.testo p:first-of-type {
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    font-weight: 700;
    color: white;
} 

.testo p:last-of-type {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    color: white;
}

.bottoni {
    text-align: center;
}

.bottoni button:first-of-type {
    margin-right: 15px;
    height: 40px;
    width: 130px;
    border-radius: 20%;
    border: 0.5px solid black;
    background-color: white;
    cursor: pointer;
}

.bottoni button:last-of-type {
    margin-right: 15px;
    height: 40px;
    width: 180px;
    border-radius: 20%;
    border: 0.5px solid black;
    background-color: white;
    cursor: pointer;
    background-color: black;
    color: white;
}


/* contenitore prinicpale*/
.seconda_sezione {
    height: 80vh;
    background-color: blanchedalmond;
}

.contenitore_centrale {
    height: 100%;
    width: 70%;
    margin: auto;
    font-size: 0;
}

.sinistra {
    width: 50%;
    height: 100%;
    display: inline-block;
    
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;

    background-position-y: center;
}

.destra {
    width: 50%;
    height: 100%;
    display: inline-block;

    position: relative;
}

.text {
    height: 90%;
    width: 60%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p:first-of-type {
    font-weight: 700;
    font-size: 35px;
}

.text p:last-of-type {
    font-weight: 300;
    font-size: 21px;
}